.container-input {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    width: 280px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #a1a1a14d;
    border-radius: 5px;
    background: #4a5664;
    box-shadow: 0px 0px 1px 0px #0000005e;
    color: #ffff;
    font-size: 12px;
  }

  label {
    color: #cccccc;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
  }

  input:focus {
    border: 2px solid #4cba57;
    box-shadow: 0px 0px 5px 0px #0000005e;
    outline: none;
  }

  input::placeholder {
    padding-left: 10px;
    font-size: 10px;
    color: #cccccc;
  }
}
