.container-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212832;
}

.container {
  width: 1280px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px 130px;
  box-shadow: 0px 0px 20px 0px #00000031;
  background: #383e4c;
  border-radius: 10px;
}

.container div {
  width: 100%;
  height: 100%;
}

.container h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 64px;
  padding: 120px 0px 10px 0px;
  background-image: linear-gradient(to bottom, #4cba57, #4cba5700);
  -webkit-background-clip: text;
  color: transparent;
}

.container p {
  display: flex;
  justify-content: center;
  padding: 0px 50px 70px 50px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #cccccc;
}

.container span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 40px;
  margin: 50px auto;
  background: #4cba57c4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.container span:hover {
  background: #4cba57;
  box-shadow: 0px 0px 10px 0px #00000033;
}

.container img {
  max-width: 100%;
  width: 640px;
  height: 720px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-modal {
  font-size: 14px;
  color: #cccccc;
  text-align: center;
}
