.container-section-user {
  height: 120vh;
  padding: 100px 0px;
  background: #212832;
  display: flex;
  justify-content: space-evenly;
}

.box-user {
  width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-user {
  height: 250px;
}

.picture-user img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #0000004f;
}

.text-user {
  font-size: 28px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #4cba57, #3a7148);
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px 0px 50px 0px;
}

.sub-text {
  color: #dedede;
}

.sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #dedede;
  padding: 0px 0px 12px 0px;
}

.sub-text p {
  font-size: 12px;
  font-weight: 400;
  padding: 0px 0px 20px 0px;
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.nav-bar li {
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a7148;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-bar li:hover {
  background: #4cba57;
}

.nav-bar a {
  color: #dedede;
}

.container-task {
  width: 680px;
  height: 720px;
  border: 1px solid #4cba57;
  border-radius: 5px;
}

.title-task {
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  font-size: 32px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #4cba57, #3a7148);
  -webkit-background-clip: text;
  color: transparent;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 30px;
  background: #3a7148;
  border-radius: 5px;
  color: #dedede;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button-task:hover {
  background: #4cba57;
}

.box-task-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.period-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.period-selector select {
  background: #4a5664;
  color: #dedede;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
}

.box-day {
  font-size: 20px;
  font-weight: 500;
  color: #dedede;
}

.box-night {
  font-size: 20px;
  font-weight: 500;
  color: #dedede;
}

.box-day-night {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px 175px 0px 175px;
}

.card-tasks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 70px;
}

.card {
  width: 240px;
  height: 35px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #4cba57;
  border-radius: 5px;
  background: #4a5664;
}

.card svg {
  color: #dedede;
  cursor: pointer;
  transition: 0.1s;
  font-size: 9px;
}

.card svg:hover {
  color: #4cba57;
}

.box-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #dedede;
  font-size: 11px;
}

.check-trash {
  display: flex;
  align-items: center;
}

.check-trash input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.check-trash input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.check-trash .svg {
  cursor: pointer;
}

.check-trash input[type="checkbox"] {
  transition: background-color 0.3s, border-color 0.3s;
}
