.container-section-user {
  height: 120vh;
  padding: 100px 0px;
  background: #212832;
  display: flex;
  justify-content: space-evenly;
}

.box-user {
  width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-user {
  height: 250px;
}

.picture-user img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #0000004f;
}

.text-user {
  font-size: 28px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #4cba57, #3a7148);
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px 0px 50px 0px;
}

.sub-text {
  color: #dedede;
}

.sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #dedede;
  padding: 0px 0px 12px 0px;
}

.sub-text p {
  font-size: 12px;
  font-weight: 400;
  padding: 0px 0px 20px 0px;
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.nav-bar li {
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a7148;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-bar li:hover {
  background: #4cba57;
}

.nav-bar a {
  color: #dedede;
}

.container-task {
  width: 680px;
  height: 720px;
  border: 1px solid #4cba57;
  border-radius: 5px;
}

.title-task {
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  font-size: 32px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #4cba57, #3a7148);
  -webkit-background-clip: text;
  color: transparent;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 30px;
  background: #3a7148;
  border-radius: 5px;
  color: #dedede;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button-task:hover {
  background: #4cba57;
}

.box-task-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.period-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.period-selector select {
  background: #4a5664;
  color: #dedede;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
}

.box-day {
  font-size: 20px;
  font-weight: 500;
  color: #dedede;
}

.box-night {
  font-size: 20px;
  font-weight: 500;
  color: #dedede;
}

.box-day-night {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px 175px 0px 175px;
}

.card-tasks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 70px;
}

.card {
  width: 240px;
  height: 35px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #4cba57;
  border-radius: 5px;
  background: #4a5664;
}

.card svg {
  color: #dedede;
  cursor: pointer;
  transition: 0.1s;
  font-size: 9px;
}

.card svg:hover {
  color: #4cba57;
}

.box-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #dedede;
  font-size: 11px;
}

.check-trash {
  display: flex;
  align-items: center;
}

.check-trash input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.check-trash input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.check-trash .svg {
  cursor: pointer;
}

.check-trash input[type="checkbox"] {
  transition: background-color 0.3s, border-color 0.3s;
}

/* MEDIA QUERIE */

@media (max-width: 1600px) {
  .container-section-user {
    padding: 30px 100px;
  }
}

@media (max-width: 1310px) {
  .container-section-user {
    padding: 100px 10px;
  }
  .container-task {
    width: 650px;
    height: 640px;
  }

  .box-user img {
    width: 150px;
    height: 150px;
  }

  .picture-user {
    height: 150px;
  }

  .box-day-night {
    padding: 5px 170px 0px 170px;
  }

  .container-input {
    gap: 10px;
  }
}

@media (max-width: 1090px) {
  .container-section-user {
    padding: 100px 0px;
  }

  .box-user {
    width: 200px;
  }

  .box-user img {
    width: 130px;
    height: 130px;
  }

  .picture-user {
    height: 130px;
  }

  .text-user {
    font-size: 20px;
    padding: 10px 0px 30px 0px;
  }

  .sub-title {
    font-size: 12px;
  }

  .sub-text p {
    font-size: 10px;
  }

  .nav-bar li {
    width: 200px;
  }

  .container-task {
    width: 510px;
    height: 640px;
  }

  .card-tasks {
    padding: 0px 20px;
  }

  .title-task {
    padding: 20px 0px 5px 0px;
  }

  .box-card {
    font-size: 10px;
  }

  .card-tasks {
    padding: 0px 15px;
  }

  .card {
    width: 220px;
    height: 35px;
  }

  .box-day-night {
    padding: 30px 110px 0px 110px;
  }

  .container-input input {
    width: 200px;
    height: 30px;
  }

  .button-task {
    width: 130px;
    height: 30px;
    font-size: 12px;
  }

  .box-day {
    font-size: 18px;
  }

  .box-night {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .container-section-user {
    padding: 100px 0px;
  }

  .box-user {
    width: 115px;
  }

  .box-user img {
    width: 100px;
    height: 100px;
  }

  .picture-user {
    height: 100px;
  }

  .text-user {
    font-size: 16px;
    padding: 10px 0px 30px 0px;
  }

  .sub-title {
    font-size: 10px;
  }

  .sub-text p {
    font-size: 8px;
  }

  .nav-bar li {
    width: 115px;
  }

  .container-task {
    width: 370px;
    height: 600px;
  }

  .card-tasks {
    padding: 0px 5px;
  }

  .title-task {
    padding: 20px 0px 5px 0px;
  }

  .box-card {
    font-size: 8px;
  }

  .card-tasks {
    padding: 0px 20px;
  }

  .card {
    width: 155px;
    height: 30px;
  }

  .box-day-night {
    padding: 30px 80px 0px 80px;
  }
}

@media (max-width: 600px) {
  .container-section-user {
    padding: 70px 10px;
  }
}

@media (max-width: 500px) {
  .container-section-user {
    padding: 70px 10px;
  }

  .box-user {
    width: 100px;
  }

  .box-user img {
    width: 80px;
    height: 80px;
  }

  .picture-user {
    height: 80px;
  }

  .text-user {
    font-size: 14px;
    padding: 10px 0px 30px 0px;
  }

  .sub-title {
    font-size: 8px;
  }

  .sub-text p {
    font-size: 6px;
  }

  .nav-bar li {
    width: 100px;
  }

  .container-task {
    width: 300px;
    height: 600px;
  }

  .card-tasks {
    padding: 0px 5px;
  }

  .title-task {
    padding: 20px 0px 5px 0px;
  }

  .box-card {
    font-size: 6px;
  }

  .card-tasks {
    padding: 0px 20px;
  }

  .card {
    width: 130px;
    height: 30px;
  }

  .box-day-night {
    padding: 30px 60px 0px 60px;
  }
}

@media (max-width: 428px) {
  .container-section-user {
    padding: 20px 0px;
  }

  .box-user {
    width: 80px;
  }

  .box-user img {
    width: 60px;
    height: 60px;
  }

  .picture-user {
    height: 60px;
  }

  .text-user {
    font-size: 12px;
    padding: 10px 0px 20px 0px;
  }

  .sub-title {
    font-size: 6px;
  }

  .sub-text p {
    font-size: 4px;
  }

  .nav-bar li {
    width: 80px;
    height: 20px;
  }

  .nav-bar a {
    font-size: 10px;
  }

  .container-task {
    width: 250px;
    height: 570px;
  }

  .card-tasks {
    padding: 0px 5px;
  }

  .title-task {
    font-size: 16px;
    padding: 20px 0px 5px 0px;
  }

  .box-card {
    font-size: 7px;
  }

  .card-tasks {
    padding: 0px 10px;
  }

  .card {
    width: 110px;
    height: 30px;
  }

  .box-day-night {
    padding: 30px 50px 0px 50px;
  }

  .container-input input {
    width: 150px;
    height: 30px;
  }

  .button-task {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }

  .box-day {
    font-size: 14px;
  }

  .box-night {
    font-size: 14px;
  }
}
